@page "/"

<link href="Styles/Home.css" rel="stylesheet" />

<PageTitle>Home</PageTitle>

<div class="home-page">
	<div class="welcome-container">
		<h1>Welcome to the Project Management Game!</h1>
		<p>Your journey to mastering project management starts here. Choose your path:</p>
	</div>
	<div class="button-container">
		<NavLink href="learn" class="action-button">
			Learn
		</NavLink>
		<NavLink href="challenge" class="action-button">
			Challenge Yourself!
		</NavLink>
	</div>
</div>