@page "/challenge/summary"
@rendermode InteractiveServer

<link href="Styles/Main.css" rel="stylesheet" />
<link href="Styles/Home.css" rel="stylesheet" />
<link rel="stylesheet" href="Styles/Challenge/Shared.css" />
<link rel="stylesheet" href="Styles/Challenge/Summary.css" />

<div>
	<h1>📢 Project Summary</h1>
	<ChatSummary />
</div>
