body {
    background-color: #0d1b2a;
    color: #e0e1dd;
}

h3 {
    border-bottom: 2px solid #778da9;
    color: #e0e1dd;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    background-color: #1b263b;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    padding: 1rem;
}

strong {
    color: #f4a261;
    font-weight: bold;
}

em { color: #a9bcd0; }