@page "/learn"
@rendermode InteractiveServer

<link href="Styles/Learn.css" rel="stylesheet"/>
<link href="Styles/Main.css" rel="stylesheet"/>
<link href="Styles/Home.css" rel="stylesheet"/>

<PageTitle>Learn</PageTitle>

<h1>Learn</h1>
<p>Welcome to the Learn page! Explore the concepts and methodologies used in project management and software development.</p>

<div class="section-container">
	<h2>Agile Methodologies</h2>
	<div class="button-container">
		<MudButton href="/learn/scrum" class="action-button">Scrum</MudButton>
		<MudButton href="/learn/kanban" class="action-button">Kanban</MudButton>
	</div>
</div>

<div class="section-container">
	<h2>Software Development Project Management</h2>
	<div class="button-container">
		<MudButton href="/learn/planning" class="action-button">Planning</MudButton>
		<MudButton href="/learn/execution" class="action-button">Execution</MudButton>
	</div>
</div>