@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Project Management Game</a>
	</div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="learn">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Learn
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<NavLink class="nav-link" href="challenge/select-project">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Challenge
			</NavLink>
		</div>
		
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="user/profile">
				<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> View Profile
			</NavLink>
		</div>

		<div class="nav-item px-3">
			<AuthorizeView>
				<NotAuthorized>
					<NavLink class="nav-link" href="/Identity/Account/Login">
						<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
					</NavLink>
				</NotAuthorized>
				<Authorized>
					<NavLink class="nav-link" href="/Identity/Account/Logout">
						<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logout
					</NavLink>
					<p>Logged in as: @context.User.Identity?.Name</p>
				</Authorized>
			</AuthorizeView>
		</div>
	</nav>
</div>