@import url(Animations.css);

.button-container {
    animation: fadeInUp 1.5s ease-in-out;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.action-button {
    background-color: red;
    border-radius: 5px;
    box-shadow: 0 4px 6px #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 1.25rem;
    font-weight: lighter;
    margin: 10px;
    padding: 15px 30px;
    text-decoration: dotted;
}

.action-button:hover {
    background-color: seagreen;
    box-shadow: 0 6px 10px #000000;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}