.home-page {
    background: linear-gradient(120deg, mediumorchid, darkorchid);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.welcome-container h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    animation: fadeIn 1.5s ease-in-out;
}

.welcome-container p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    animation: fadeIn 2s ease-in-out;
}

.button-container {
    display: flex;
    gap: 20px;
    animation: fadeInUp 2.5s ease-in-out;
}

.action-button {
    padding: 15px 30px;
    background-color: #6c5ce7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.action-button:hover {
    background-color: #74b9ff;
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
