@import url(Animations.css);

.section-container {
    animation: fadeInUp 1.5s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}